.customButton {
  border: none;
  background: none;
  color: #d3d3d3;
  cursor: pointer;
  font-size: 1.1em;
  padding: 0.25em 0.5em;
  border: 3px solid;
  border-radius: 1em;
  position: relative;
  transition: ease-out 0.3s;
}

.customButton:hover {
  box-shadow: inset 200px 0 0 0 #f9e506;
  cursor: pointer;
  color: black;
}

