.lobby {
    background-color: black;
    height: 100vh;
    padding: 12% 2%;
}

.lobbyContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    width: 80%; 
    gap: 120px;
    margin: auto;
    color: #90ee90;
    padding: 0 50px;
}

.createRoom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    font-size: 50px;
}

.joinRoomContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    font-size: 50px;
}

.roomInput {
    width: 100vh;
    font-size: 25px;
    padding: 10px 15px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;    
    outline: none;  
}

.lobbyButton, .joinRoomButton {
    font-size: 50px;
    border: none;
    background: none;
    color: #d3d3d3;
    cursor: pointer;
    padding: 0.25em 0.5em;
    border: 3px solid;
    border-radius: 1em;
    box-shadow: inset 0 0 0 0 #f9e506;
    transition: ease-out 0.3s;
  }
  
.lobbyButton:hover {
    box-shadow: inset 450px 0 0 0 #f9e506;
    cursor: pointer;
    color: black;
}
  
.errorMsg {
    font-size: 1.5rem;
    color: red;
}