.mainMenu {
  background-color: black;
  height: 100vh;
  padding: 10% 2%;
}

.mainMenuContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  width: 80%;
  gap: 7.5rem;
  margin: auto;
  color: #90ee90;
  padding: 0 3.125rem;
}

.enterGame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.875rem;
  font-size: 3.125rem;
}

.practiceYourself {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.875rem;
  font-size: 3.125rem;
}

.mainMenuButton {
  font-size: 3.125rem;
  border: none;
  background: none;
  color: #d3d3d3;
  cursor: pointer;
  padding: 0.78125rem 1.5625rem;
  border: 0.1875rem solid;
  border-radius: 3.125rem;
  box-shadow: inset 0 0 0 0 #f9e506;
  transition: ease-out 0.3s;
}

.mainMenuButton:hover {
  box-shadow: inset 28.125rem 0 0 0 #f9e506;
  cursor: pointer;
  color: black;
}
