.modalContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }
  
  .modalContainer.showModal {
    opacity: 1;
    pointer-events: auto;
  }
  
  .gameEndWindow {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 34.375rem;
    width: 25rem;
    border: 1rem solid rgb(239, 241, 243);
    border-radius: 10px;
    background-color: white;
  }

  .gameEndHeaderBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.9375rem;
    background-color: rgb(239, 241, 243);
  }

  .outcomeMessage {
    font-size: 1.875rem;
    font-weight: bold;
    padding: 0.3125rem;
  }

  .finalScoreTitle {
    text-align: center;
    font-size: 1.4375rem;
    margin-top: 1.875rem;
  }
  .finalScore {
    text-align: center;
    font-weight: bold;
    font-size: 1.875rem;
  }

  .gameStats {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0.9375rem;
    padding: 1.25rem;
  }

  .gameAvg{
    text-align: center;
    text-decoration: underline;
    font-size: 1.3125rem;
    margin-top: 1.875rem;
  }
  
  .wpmAbbr {
    margin-top: 0.625rem;
    text-align: center;
    font-size: 1.25rem;
  }

  .wpmContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3125rem;
  }

  .wpmTitle {
    font-size: 1.25rem;
    font-weight: bold;
  }

  .wpm {
    font-size: 1.5625rem;
  }

  .vsContainer {
    font-size: 1.0625rem;
    font-weight: bold;  
  }

  .buttonList {
    display: flex;
    flex-direction: column;
    height: 5rem;
  }

  .rematchButton {
    flex:1;
    font-size: 1.25rem;
    font-weight: 500;
    background-color: #025802;
    color: white;
    cursor: pointer;  
  }

  .lobbyButtonContainer {
    flex: 1;
  }

  .lobbyButton {
    font-size: 1.25rem;
    font-weight: 500;
    background-color: orange;
    color: black;
    cursor: pointer;  
    height: 100%;
    width: 100%;
  }

  .waitingForHost {
    font-size: 1.25rem;
    flex: 1;
    text-align: center;
    padding: 0.5rem 0;
  }