.gameWindow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(50, 52, 55);
  height: 100%;
  padding: 3rem;
}

.textContainerSP {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.textContainerMP {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.powerUpTitle {
  color: orange;
  font-size: 1.5rem;
}

.powerUpTitleHas {
  color: #90ee90;
  font-size: 1.5rem;
}

.powerUpTitleUsed {
  color: red;
  font-size: 1.5rem;
}

.powerUpHideKeyboard {
  color: red;
  font-size: 2rem;
}

.powerupDesc {
  color: orange;
  font-size: 1.7rem;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  box-shadow: black;
  padding: 4rem;
  width: 50%;
}

.userInput {
  flex: 1 1 50%;
  resize: none;
  background-color: transparent;
  border: 3px solid #282828;
  outline: none;
  color: #c8c8c8;
  font-size: 1.875rem;
  text-align: center;
}

.userInput:focus {
  border-color: black;
}

.opponentDisplay { 
  color: #c8c8c8;
  font-size: 1.25rem;
  width: 100%;
}

.separator {
  width: 100%;
}