.modalContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }
  
  .modalContainer.showModal {
    opacity: 1;
    pointer-events: auto;
  }
  
  .roundStartWindow {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 34.375rem;
    width: 25rem;
    border: 1rem solid rgb(239, 241, 243);
    border-radius: 10px;
    background-color: white;
  }

  .roundStartHeaderBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.9375rem;
    background-color: rgb(239, 241, 243);
  }

  .currentRound {
    font-size: 2rem;
    font-weight: bold;
    padding: 0.3125rem;
  }

  .scoreBoard {
      font-size: 2.5rem;
      padding: 0.3125rem; 
  }

  .won {
    color: orange;
  }

  .startingMessage {
    margin-top: 1.875rem;
    text-align: center;
    font-size: 1.5625rem;
  }
  
  .countdownTime {
      font-size: 2.1875rem;
      text-align: center;
      margin-top: 1.25rem;
      margin-bottom: 0.3125rem;
      color: red;
  }

  .gameStats {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1.25rem;
  }

  .roundResult {
    text-align: center; 
    font-size: 1.5rem;
    font-weight: 500;
  }

  .statsTitle {
    margin-top: -0.625rem;
    text-align: center;
    font-size: 1.3125rem;
  }

  .wpmContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3125rem;
  }

  .wpmTitle {
    font-size: 1.25rem;
    font-weight: bold;
  }

  .wpm {
    font-size: 1.5625rem;
  }
