/* HEADER BAR */
.headerBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;
  height: 5em;
  color: #90ee90;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 0 5em;
}

.leftBar,
.rightBar {
  display: flex;
  align-items: center;
  gap: 2.5em;
}

/* Title */
.title {
  text-decoration: none;
  color: inherit;
  font-size: 2.5rem;
  border-right: 0.15em solid orange;
}

.dynamic {
  cursor: pointer;
}

.displayName {
  font-size: 1.5rem;
}