.checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.checkbox-input {
  display: none;
}

.checkbox-box {
  width: 1.25em;
  height: 1.25em;
  border: 2px solid #cccccc;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  flex-shrink: 0;
  transition: background 0.15s, border-color 0.15s;
}

.checkbox-box::after {
  content: '\2714';
  color: white;
}

.checkbox-input-checked {
  background: #025802;
  border-color: #025802;
}
