* {
  box-sizing: border-box;
}

html * {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
  height: 100%;
}

body {
  min-height: 100vh;
  margin: 0;
}

/* HEADER BAR */
.header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;
  height: 5em;
  color: #90ee90;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 0 5em;
}

.left-bar,
.right-bar {
  display: flex;
  align-items: center;
  gap: 2.5em;
}

.right-bar {
  display: flex;
  gap: 2em;
}

.title {
  font-size: 2.5rem;
  border-right: 0.15em solid orange;
  cursor: pointer;
}

.header-button {
  border: none;
  background: none;
  color: #d3d3d3;
  cursor: pointer;
  font-size: 1.1em;
  padding: 0.25em 0.5em;
  border: 3px solid;
  border-radius: 1em;
  position: relative;
  box-shadow: inset 0 0 0 0 #f9e506;
  transition: ease-out 0.3s;
}

.header-button:hover {
  box-shadow: inset 200px 0 0 0 #f9e506;
  cursor: pointer;
  color: black;
}

.header-button.clicked {
  box-shadow: inset 450px 0 0 0 #f9e506;
  cursor: pointer;
  color: black;
}

/*GAME WINDOW*/

.game-window {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(50, 52, 55);
  height: 100%;
  padding: 3rem;
}

.timer {
  font-size: 5rem;
  color: #90ee90;
  font-weight: 800;
  align-self: flex-end;
  text-shadow: 2px;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  box-shadow: black;
  padding: 1rem;
  height: 40%;
  width: 80%;
  max-width: 90%;
  min-height: 15rem;
}

.text-display {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #c8c8c8;
  flex: 1;
}

.user-input {
  flex: 1 1 50%;
  resize: none;
  background-color: transparent;
  border: 3px solid #282828;
  outline: none;
  font-size: 1.5rem;
  color: #c8c8c8;
}

.user-input:focus {
  border-color: black;
}

.correct {
  color: #90ee90;
}

.incorrect {
  color: red;
  text-decoration: underline;
}

/* KEYBOARD */

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.keyboard-row {
  display: flex;
  flex: 1;
  min-height: 10vh;
  align-items: center;
  justify-content: center;
}

/* POP-UP WINDOWS */
.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.modal-container.show-modal {
  opacity: 1;
  pointer-events: auto;
}

.modal-close-button {
  border: none;
  background: none;
  color: black;
  cursor: pointer;
}

.play-menu-window {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 320px;
  width: 400px;
  border: 1rem solid rgb(239, 241, 243);
  border-radius: 10px;
}

.play-menu-header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.3em;
  background-color: rgb(239, 241, 243);
}

#play-menu-close-button {
  align-self: flex-start;
}

.play-menu-title {
  font-size: 30px;
  font-weight: bold;
}

.game-settings-layer {
  display: flex;
  flex-direction: column;
  background-color: white;
  gap: 10px;
  padding: 0.5em 0.5em;
  flex: 1;
}

.game-settings-title {
  font-size: 18px;
  font-weight: bold;
}

#start-game-button {
  font-size: 18px;
  font-weight: 400;
  background-color: #025802;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  height: 35px;
}
